
.header{
    height: 300px;
    /* background-image: url(../styles/css\ images);
     */
     /* background-image: url(../images/google\ kaku.png); */
     background-image: url(../images/IMG_5188.JPG);
     /* background-repeat: no repeat; */
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     block-size: 280px;
     color: rgb(230, 170, 6);
     background-color: honeydew;
     background-blend-mode: normal;

}
h3{
    color: darksalmon;
    text-decoration:underline wavy violet;
}

p{
    color: goldenrod;
}
.black{
    background-color: black;
}

.page-title{
    /* font-size: 50px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: brown; */
    color:purple;
     ;
}

